.showElement {
     display:block;
}

.hideElement {
     display: none;
}

p {
     max-width: 550px;
     display: flex;
     flex-wrap: wrap;
}

.input {
     width: 550px;
}

.task-list {
     margin: 1.25rem;
}

.title {
     text-align: center;
     width: 90%
}

.is-warning {
     float: right;
     width:10%;
     
}

.hero-body {
     display: flex;
     flex-direction: row;
}

